@import '../../../../assets/scss/vars';

p {
  @extend %main-text;
}

.section__printing-foto-holst {
  height: 1572px;
}

.printing-foto-holst__img-1 {
  background-image: url(../../../../assets/images/printing-foto-holst-1.jpg);
  width: 380px;
  height: 488px;
  border-radius: 5px;
  float: right;
  margin-left: 30px;
}
.printing-foto-holst__img-2 {
  background-image: url(../../../../assets/images/printing-foto-holst-2.jpg);
  width: 380px;
  height: 476px;
  border-radius: 5px;
  float: left;
  margin-top: 20px;
  margin-right: 30px;
}

.printing-foto-holst__item {
  margin-top: 33px;

  p {
    margin: 13px 0;
  }

  .title-3 {
    margin-top: 33px;
    margin-bottom: 33px;
  }
}

.points {
  padding-left: 103px;
}
