@import "vars";

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}

body {
    //min-width: 1200px;
    max-width: 1600px;
    position: relative;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: "Roboto-Regular", sans-serif;
    color: $color_text;
}

button {
    padding: 0;
    margin: 0;

    &:focus {
        outline: none;
    }
}

.wrap {
    max-width: 1600px;
    width: 100vw;
    padding: 0 12.5%;
    // min-width: 257px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.section {
    max-width: 1600px;
}

.title-1 {
    @extend %title-1;
}

.title-2 {
    @extend %title-2;
}

.title-3 {
    @extend %title-3;
}

.main-text {
    @extend %main-text;
}
