@import "vars";

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}

body {
    //min-width: 1200px;
    max-width: 1600px;
    position: relative;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: "Roboto-Regular", sans-serif;
    color: $color_text;
}

button {
    padding: 0;
    margin: 0;

    &:focus {
        outline: none;
    }
}

.wrap {
    max-width: 1600px;
    width: 100vw;
    padding: 0 12.5%;
    // min-width: 257px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.title-1 {
    @extend %title-1;
}

.title-2 {
    @extend %title-2;
}

.title-3 {
    @extend %title-3;
}

.main-text {
    @extend %main-text;
}


.pict-whatsapp {
    background-image: url("assets/images/whatsapp.svg");
    width: 27px;
    height: 27px;
}

.pict-telepphone {
    background-image: url("assets/images/telephone_menu.svg");
    width: 27px;
    height: 27px;
}

.pict-email {
    background-image: url("assets/images/mail.svg");
    width: 29px;
    height: 27px;
}

.pict-skype {
    background-image: url("assets/images/skype.svg");
    width: 27px;
    height: 27px;
}

.pict-visa {
    background-image: url("assets/images/Visa.svg");
    width: 51px;
    height: 33px;
}

.pict-master {
    background-image: url("assets/images/MasterCards.svg");
    width: 56px;
    height: 34px;
}

.pict-mir {
    background-image: url("assets/images/Mir.svg");
    width: 54px;
    height: 54px;
}

.pict-yandexmoney {
    background-image: url("assets/images/yandex-money.svg");
    width: 45px;
    height: 45px;
}

.pict-cdek {
    background-image: url("assets/images/CDEK.svg");
    width: 99px;
    height: 27px;
}

.pict-ems {
    background-image: url("assets/images/EMS.svg");
    width: 106px;
    height: 30px;
}

.pict-vk {
    background-image: url("assets/images/vk-social-logotype.svg");
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.pict-instagramm {
    background-image: url("assets/images/instagram-social-logotype.svg");
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.pict-facebook {
    background-image: url("assets/images/facebook-social-logotype.svg");
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.pict-youtube {
    background-image: url("assets/images/youtube-social-logotype.svg");
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.pict-twitter {
    background-image: url("assets/images/twitter-social-logotype.svg");
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.pict-odnoklassniki {
    background-image: url("assets/images/odnoklassniki-social-logotype.svg");
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.section {
    max-width: 1600px;
}

.footer {
    height: 625px;
    color: $color_white;
    align-items: start;
    @extend %gradient-footer;

    &__inner {
        width: 1200px;
        height: 422px;
        margin-top: 64px;
    }

    &__author {
        position: absolute;
        bottom: 70px;
        font-weight: normal;
        font-size: 16px;
        line-height: 17px
    }
}

.contacts {
    display: flex;
    justify-content: space-between;

    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 25px;
        padding-bottom: 10px;
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 36px;
    }

    &__contacts-adress {
        width: 280px;
        height: 104px;
        font-size: 22px;
        line-height: 26px
    }

    .btn__map {
        width: 221px;
        height: 54px;
        border-radius: 63px;
        background: none;
        border: 2px solid $color_white;
        font-weight: bold;
        font-size: 19px;
        line-height: 22px;
        margin-top: 15px;
        margin-bottom: 30px;
    }

    &__contacts-pictogram {
        display: flex;
        align-items: center;
    }

    &__pict {
        margin: 6px 11px 6px 0;
    }

    &__requisites {
        margin-top: 67px;
    }

    &__pay-cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 262px;
        height: 51px;
        margin-bottom: 40px;
        margin-top: 10px;
    }

    &__delivery-logos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 230px;
        height: 30px;
        margin-bottom: 73px;
        margin-top: 10px;
    }

    &__social-logos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 285px;
        height: 40px;
        margin-top: 10px;
    }
}
