@import "vars";

.section__questions {
    margin-top: 55px;
    justify-content: center;

    .questions {
        &__inner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &__item {
            margin-top: 42px;
            width: 1200px;
            display: flex;
        }

        &__title {
            width: 1200px;
        }
    }

    input[type="radio"] {
        display: none;
    }

    .input-radio-open {
        &:not(:checked)~.element__header {
            .header__title--open {
                display: flex;
            }

            .header__title--close {
                display: none;
            }
        }

        &:not(:checked)~.element__content {
            height: 0;
            opacity: 0;
            overflow: hidden;
        }

        &:checked~.element__header {
            .header__title--open {
                display: none;
            }

            .header__title--close {
                display: flex;
            }
        }

        &:checked~.element__content {
            height: auto;
            opacity: 1;
            overflow: auto;
        }
    }

    .accordeon {
        margin: 0 auto;
        margin-bottom: 80px;
    }

    .accordeon__element {
        margin-top: 14px;
    }

    .header__title {
        &--close {
            width: 985px;
        }

        width: 990px;
        padding: 10px 0;
        color: #000;
        cursor: pointer;
        font-weight: 500;
        font-size: 23px;
        line-height: 24px;
        transition: background-color .25s ease;
        display: flex;
        justify-content: space-between;

        .mark {
            color: $color_lightOrange;
            font-size: 36px;
            text-align: center;
        }
    }

    .element__content {
        // width: 990px;
        padding: 0px;
        transition: height .25s ease, opacity .25s ease, padding 0s ease;
    }

    .content__wrapper {
        color: #777;
        font-size: 20px;
        margin-top: 10px;
        padding: 10px;
        border-left: 1px solid $color_lightOrange;

        p {
            width: 850px;
        }
    }
}