@import "vars";

.section__offer {
    height: 800px;
    margin-top: 108px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.offer {
    &__title {
        margin-bottom: 40px;
    }

    &__subtitle {
        margin-bottom: 20px;
    }

    &__text {
        margin-bottom: 28px;
        width: 645px;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
    }

    &__item {
        width: 1200px;
        height: 320px;
        display: flex;
        margin-bottom: 69px;
        margin-top: 40px;
        &-right {
            display: flex;
            flex-direction: row-reverse;
        }

        // justify-content: space-between;
        &-left--img {
            width: 483px;
            height: 319px;
            border-radius: 10px;
            background-image: url("assets/images/offer_left_1.jpg");
            margin-right: 30px;
        }

        &-right--img {
            width: 482px;
            height: 320px;
            border-radius: 10px;
            background-image: url("assets/images/offer_right_1.jpg");
            margin-left: 30px;
            margin-top: 20px;
        }

        &--text-block {
            width: 687px;
            height: 320px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

.section__stages {
    height: 615px;
    margin-top: 65px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.stages {
    &__item {
        width: 1200px;
        display: flex;
        justify-content: space-between;
    }

    &__column {
        width: 316px;
        height: 546px;
        width: 316px;
        height: 546px;
    }

    &__column--point {
        display: flex;
        align-items: start;
    }

    &__column--number {
        width: 27px;
        height: 27px;
        border-radius: 50%;
        background: #F5841B;
        color: $color_white;
        font-weight: normal;
        font-size: 19px;
        line-height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 31px;
    }

    &__column--article {
        margin-bottom: 44px;
    }

    &__column--text {
        width: 253px;
        margin-top: 12px;
        font-weight: normal;
        font-size: 18px;
        line-height: 19px;
    }

    &__item--img {
        width: 790px;
        height: 452px;
        border-radius: 10px;
        background-image: url("assets/images/stages.jpg");
    }
}

.section__selection {
    height: 266px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.selection {

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__item {
        max-width: 1200px;
        min-width: 950px;
        display: flex;
        justify-content: space-around;
        width: 75vw;
    }

    &__title {
        margin-bottom: 36px;
        width: 1200px;
    }

    &__block {
        width: 197px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__block--pict {
        width: 129px;
        height: 129px;
        border-radius: 50%;
        @extend %gradient;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__block--pict-delivery {
        width: 89px;
        height: 89px;
        background-image: url("assets/images/fast-delivery.svg");
    }

    &__block--pict-printer {
        width: 71px;
        height: 71px;
        background-image: url("assets/images/printer.svg");
    }

    &__block--pict-wallet {
        width: 63px;
        height: 63px;
        background-image: url("assets/images/wallet.svg");
    }

    &__block--pict-gift {
        width: 65px;
        height: 65px;
        background-image: url("assets/images/gift.svg");
    }

    &__block--text {
        font-weight: normal;
        font-size: 18px;
        line-height: 19px;
        text-align: center;
        margin-top: 11px;
    }
}

.section__reviews {
    height: 600px;
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn--reviews {
    width: 287px;
    height: 54px;
    color: $color_lightOrange;
    background: none;
    border: 1px solid $color_lightOrange;
    font-weight: bold;
    font-size: 21px;
    line-height: 24.61px;
}

.reviews {
    &__item {
        height: 442px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__cards {
        display: flex;
        width: 1200px;
        justify-content: space-between;
    }

    &__card {
        display: flex;
        justify-content: space-evenly;
        width: 585px;
        height: 351px;
        margin: 36px 0;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    }

    &__card--avatar {
        width: 103px;
        height: 103px;
        background: #C4C4C4;
        border-radius: 50%;
        margin-top: 35px;
    }

    &__card--item {
        margin-top: 35px;
    }

    &__card-name {
        font-weight: bold;
        font-size: 23px;
        line-height: 24.42px;
        color: $color_lightOrange;
        padding-bottom: 12px;
    }

    &__card--text {
        width: 380px;
        height: 260px;
        line-height: 20px;
    }
}

.section__questions {
    margin-top: 55px;
    justify-content: center;

    .questions {
        &__inner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &__item {
            margin-top: 42px;
            width: 1200px;
            display: flex;
        }

        &__title {
            width: 1200px;
        }
    }

    input[type="radio"] {
        display: none;
    }

    .input-radio-open {
        &:not(:checked)~.element__header {
            .header__title--open {
                display: flex;
            }

            .header__title--close {
                display: none;
            }
        }

        &:not(:checked)~.element__content {
            height: 0;
            opacity: 0;
            overflow: hidden;
        }

        &:checked~.element__header {
            .header__title--open {
                display: none;
            }

            .header__title--close {
                display: flex;
            }
        }

        &:checked~.element__content {
            height: auto;
            opacity: 1;
            overflow: auto;
        }
    }

    .accordeon {
        margin: 0 auto;
        margin-bottom: 80px;
    }

    .accordeon__element {
        margin-top: 14px;
    }

    .header__title {
        &--close {
            width: 985px;
        }

        width: 990px;
        padding: 10px 0;
        color: #000;
        cursor: pointer;
        font-weight: 500;
        font-size: 23px;
        line-height: 24px;
        transition: background-color .25s ease;
        display: flex;
        justify-content: space-between;

        .mark {
            color: $color_lightOrange;
            font-size: 36px;
            text-align: center;
        }
    }

    .element__content {
        // width: 990px;
        padding: 0px;
        transition: height .25s ease, opacity .25s ease, padding 0s ease;
    }

    .content__wrapper {
        color: #777;
        font-size: 20px;
        margin-top: 10px;
        padding: 10px;
        border-left: 1px solid $color_lightOrange;

        p {
            width: 850px;
        }
    }
}