@import '../../assets/scss/vars';

.btn {
  border-radius: 63px;
  border: none;
  font-weight: 700;
  color: $color_white;
  @extend %gradient;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
}

.btn--big {
  width: 346px;
  height: 74px;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--medium {
  width: 290px;
  height: 60px;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--small {
  width: 167px;
  height: 40px;
  font-weight: bold;
  ont-size: 16px;
  line-height: 17px;
  background: $color_white;
  // color:$color_orange;
  color:black;
  // border: 1px solid $color_orange;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--small-foto {
  background: $color_white;
  color:$color_orange;
  border: 1px solid $color_orange;
}

.btn--small-enable {
  border: none;
  color: $color_white;
  background: $color_orange;
}

.btn--form {
  width: 204px;
  height: 45px;
  font-size: 18px;
  line-height: 20px;
  background: $color_white;
  color: $color_lightOrange;
}