@import '../../assets/scss/vars';

.btn {
  border-radius: 63px;
  border: none;
  font-weight: 700;
  color: $color_white;
  @extend %gradient;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
}

.btn--big {
  width: 346px;
  height: 74px;
  font-size: 24px;
  line-height: 28px;
}

.btn--medium {
  width: 290px;
  height: 60px;
  font-size: 22px;
  line-height: 26px;
}

.btn--form {
  width: 204px;
  height: 45px;
  font-size: 18px;
  line-height: 20px;
  background: $color_white;
  color: $color_lightOrange;
}