.phone {
  margin-top: 10px;
  position: absolute;
  top: 98px;
  right: 12.85%;
  display: flex;
  justify-content: flex-end;
  width: 75vw;
  max-width: 1200px;
  min-width: 850px;
}

.header__phone {

  ::before {
      position: absolute;
      content: "";
      background-image: url("../../assets/images/telephone_menu.svg");
      width: 27px;
      height: 27px;
      margin-left: -35px;
      margin-top: -7px;
  }

  &-text {
      font-size: 18px;
      line-height: 19px;
  }
}