
.contacts {
  &__social-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 285px;
    height: 40px;
    margin-top: 10px;
    font-size: 0px;
  }
}

.pict-vk {
  background-image: url("../../assets/images/vk-social-logotype.svg");
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.pict-instagramm {
  background-image: url("../../assets/images/instagram-social-logotype.svg");
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.pict-facebook {
  background-image: url("../../assets/images/facebook-social-logotype.svg");
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.pict-youtube {
  background-image: url("../../assets/images/youtube-social-logotype.svg");
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.pict-twitter {
  background-image: url("../../assets/images/twitter-social-logotype.svg");
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.pict-odnoklassniki {
  background-image: url("../../assets/images/odnoklassniki-social-logotype.svg");
  width: 40px;
  height: 40px;
  cursor: pointer;
}
