@import '../../../assets/scss/vars';

.registration-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: black;

  &__input {
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    p{
      padding-bottom: 5px;
    }
  }

  &__btn {
    width: 500px;
    display: flex;
    justify-content: space-between;
  }

  &--btns {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

input {
  width: 500px;
  height: 60px;
  border-radius: 20px;
  border: none;
  padding: 15px;
  font-size: 22px;
}

