@import '../../../../assets/scss/vars';

p {
  @extend %main-text;
}

.section__dream-art {
  height: 1424px;
  margin-top: -10px;
}

.dream-art__images {
  display: flex;
  flex-direction: column;
  float: left;
}

.dream-art__img-1 {
  background-image: url(../../../../assets/images/dream-art-1.jpg);
  width: 410px;
  height: 529px;
  border-radius: 5px;
  float: right;
  margin-left: 30px;
}

.dream-art__img-2 {
  background-image: url(../../../../assets/images/dream-art-2.jpg);
  width: 380px;
  height: 461px;
  border-radius: 5px;
  float: left;
  margin-right: 30px;
  margin-top: 10px;
}

.dream-art__item {
  margin-top: 33px;

  p {
    margin: 20px 0;
  }

  .title-3 {
    margin-top: 33px;
    margin-bottom: 33px;
  }
}

.points {
  padding-left: 103px;
  p {
    margin: 6px 0;
  }
}
