@import '../../../../assets/scss/vars';

p {
  @extend %main-text;
}

.section__portrait-as-painting {
  margin-top: 22px;
  height: 1514px;
}

.portrait-as-painting__img-1 {
  background-image: url(../../../../assets/images/portrait-as-painting-1.jpg);
  width: 410px;
  height: 529px;
  border-radius: 5px;
  float: right;
  margin-left: 30px;
}
.portrait-as-painting__img-2 {
  background-image: url(../../../../assets/images/portrait-as-painting-2.jpg);
  width: 380px;
  height: 496px;
  border-radius: 5px;
  float: left;
  margin-top: 20px;
  margin-right: 30px;
}

.portrait-as-painting__item {
  margin-top: 33px;

  p {
    margin: 26px 0;
  }
  
  .title-3 {
    margin-top: 33px;
    margin-bottom: 33px;
  }
  
  .points {
    padding-left: 513px;
    p {
      margin: 13px 0;
    }
  }

}
