@import '../../../../assets/scss/vars';

.cost__inner {
  width: 100%;
  margin-top: 85px;
}

.cost__item {
  margin-top: 43px;
  margin-bottom: 85px;
}

.cost__main {
  display: flex;
}

.cost__main--right {
  width: 686px;
  height: 960px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cost__submit {
  margin: 32px 0 0;
  display: flex;
  justify-content: center;
}