

@import '../../../../assets/scss/vars';

p {
  @extend %main-text;
}

.section__photomosaic {
  height: 1907px;
}

.photomosaic__images {
  display: flex;
  flex-direction: column;
  float: left;
}

.photomosaic__img-1 {
  background-image: url(../../../../assets/images/photomosaic-1.jpg);
  width: 410px;
  height: 602px;
  border-radius: 5px;
  float: right;
  margin-left: 30px;
}

.photomosaic__img-2 {
  background-image: url(../../../../assets/images/photomosaic-2.jpg);
  width: 380px;
  height: 548px;
  border-radius: 5px;
  float: left;
  margin-right: 30px;
  margin-top: 12px;
}

.photomosaic__img-3 {
  background-image: url(../../../../assets/images/photomosaic-3.jpg);
  width: 380px;
  height: 548px;
  border-radius: 5px;
  float: right;
  margin-left: 30px;
  margin-top: 12px;
}

.photomosaic__item {
  margin-top: 33px;

  p {
    margin: 20px 0;
  }

  .title-3 {
    margin-top: 33px;
    margin-bottom: 33px;
  }
}

.points {
  padding-left: 103px;

  &--right{
    padding-left: 513px;
  }

  p {
    margin: 10px 0;
  }
}
