@import "../../../../assets/scss/vars";

.section__offer {
  height: 800px;
  margin-top: 108px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.offer {
  &__title {
      margin-bottom: 40px;
  }

  &__subtitle {
      margin-bottom: 20px;
  }

  &__text {
      margin-bottom: 28px;
      width: 645px;
      font-weight: normal;
      font-size: 18px;
      line-height: 23px;
  }

  &__item {
      width: 1200px;
      height: 320px;
      display: flex;
      margin-bottom: 69px;
      margin-top: 40px;
      &-right {
          display: flex;
          flex-direction: row-reverse;
      }

      &-left--img {
          width: 483px;
          height: 319px;
          border-radius: 10px;
          background-image: url("../../../../assets/images/offer_left_1.jpg");
          margin-right: 30px;
      }

      &-right--img {
          width: 482px;
          height: 320px;
          border-radius: 10px;
          background-image: url("../../../../assets/images/offer_right_1.jpg");
          margin-left: 30px;
          margin-top: 20px;
      }

      &--text-block {
          width: 687px;
          height: 320px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
      }
  }
}
