@import "vars";

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}

body {
    //min-width: 1200px;
    max-width: 1600px;
    position: relative;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: "Roboto-Regular", sans-serif;
    color: $color_text;
}

button {
    padding: 0;
    margin: 0;

    &:focus {
        outline: none;
    }
}

.wrap {
    max-width: 1600px;
    width: 100vw;
    padding: 0 12.5%;
    // min-width: 257px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.title-1 {
    @extend %title-1;
}

.title-2 {
    @extend %title-2;
}

.title-3 {
    @extend %title-3;
}

.main-text {
    @extend %main-text;
}

.section {
    max-width: 1600px;
}

.btn {
    width: 290px;
    height: 60px;
    border-radius: 63px;
    border: none;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: $color_white;
    @extend %gradient;
    cursor: pointer;
}

.section__start {
    height: 828px;
    background-image: url("assets/images/start_bg.jpg");
    background-position-x: center;
}

.btn--start {
    width: 346px;
    height: 74px;
    font-size: 24px;
    line-height: 28px;
}

.start__title {
    color: $color_white;
    width: 594px;
    margin-bottom: 3px;
    font-size: 45px;
    letter-spacing: -0.02em;
}

.start__text {
    color: $color_white;
    width: 537px;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 27px;
    margin-top: 12px;
}

.header {
    display: grid;
    position: absolute;
    color: $color_white;
    right: auto;
    left: auto;

    &__inner {
        display: flex;
        justify-content: space-between;
        margin-top: 49px;
        width: 75vw;
        max-width: 1200px;
        min-width: 850px;
    }

    &__logo {
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.02em;
    }

    .menu {
        width: 563px;
        display: flex;
        align-items: end;
        justify-content: space-between;
        font-size: 14px;
        line-height: 16px;
        margin-top: 5px;

        &__list {
            width: 460px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            a:hover {
                // padding-bottom: 3px;
                // border-bottom: 3px solid $color_lightOrange;
                transition: all 0.3s;
                color: $color_lightOrange;
            }
        }

        &__login {
            width: 75px;
            text-align: center;

            &-btn {
                width: 75px;
                height: 30px;
                border-radius: 43px;
                border: 3px solid $color_lightOrange;
                font-weight: 700;
                color: $color_lightOrange;
                background: none;
                margin-top: -6px;
                cursor: pointer;
            }

            .menu__registration {
                font-size: 10px;

                &:hover {
                    border-bottom: 1px solid $color_lightOrange;
                }
            }
        }

        .dropdown {
            position: absolute;
            top: 10px;
            display: none;
            font-size: 14px;
            line-height: 20px;
            width: 133px;

            // a:hover {
            //     padding-bottom: 3px;
            //     border-bottom: none;
            //     transition: all 0.3s;
            //     line-height: 32px;
            // }
        }

        .menu__dropdown-arr {
            display: flex;
            width: 147px;
            justify-content: space-between;
        }

        .arr {
            background-image: url("assets/images/Arr1.svg");
            width: 12px;
            height: 7px;
            margin-left: 4px;
            margin-top: 6px;
        }

        .menu__dropdown:hover>ul {
            display: block;
            position: relative;
            background: none;
            width: 115px;

            :hover {
                color: $color_lightOrange
            }
        }
    }

    &__phone {
        position: absolute;
        top: 108px;
        right: 13%;

        ::before {
            position: absolute;
            content: "";
            background-image: url("assets/images/telephone_menu.svg");
            width: 27px;
            height: 27px;
            margin-left: -35px;
            margin-top: -7px;
        }

        &-text {
            font-size: 18px;
            line-height: 19px;
        }
    }
}

.footer {
    height: 625px;
    color: $color_white;
    align-items: start;
    @extend %gradient-footer;

    &__inner {
        width: 1200px;
        height: 422px;
        margin-top: 64px;
    }

    &__author {
        position: absolute;
        bottom: 70px;
        font-weight: normal;
        font-size: 16px;
        line-height: 17px
    }
}

.contacts {
    display: flex;
    justify-content: space-between;

    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 25px;
        padding-bottom: 10px;
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 36px;
    }

    &__contacts-adress {
        width: 280px;
        height: 104px;
        font-size: 22px;
        line-height: 26px
    }

    .btn__map {
        width: 221px;
        height: 54px;
        border-radius: 63px;
        background: none;
        border: 2px solid $color_white;
        font-weight: bold;
        font-size: 19px;
        line-height: 22px;
        margin-top: 15px;
        margin-bottom: 30px;
    }

    &__contacts-pictogram {
        display: flex;
        align-items: center;
    }

    &__pict {
        margin: 6px 11px 6px 0;
    }

    &__requisites {
        margin-top: 67px;
    }

    &__pay-cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 262px;
        height: 51px;
        margin-bottom: 40px;
        margin-top: 10px;
    }

    &__delivery-logos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 230px;
        height: 30px;
        margin-bottom: 73px;
        margin-top: 10px;
    }

    &__social-logos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 285px;
        height: 40px;
        margin-top: 10px;
    }
}

.pict-whatsapp {
    background-image: url("assets/images/whatsapp.svg");
    width: 27px;
    height: 27px;
}

.pict-telepphone {
    background-image: url("assets/images/telephone_menu.svg");
    width: 27px;
    height: 27px;
}

.pict-email {
    background-image: url("assets/images/mail.svg");
    width: 29px;
    height: 27px;
}

.pict-skype {
    background-image: url("assets/images/skype.svg");
    width: 27px;
    height: 27px;
}

.pict-visa {
    background-image: url("assets/images/Visa.svg");
    width: 51px;
    height: 33px;
}

.pict-master {
    background-image: url("assets/images/MasterCards.svg");
    width: 56px;
    height: 34px;
}

.pict-mir {
    background-image: url("assets/images/Mir.svg");
    width: 54px;
    height: 54px;
}

.pict-yandexmoney {
    background-image: url("assets/images/yandex-money.svg");
    width: 45px;
    height: 45px;
}

.pict-cdek {
    background-image: url("assets/images/CDEK.svg");
    width: 99px;
    height: 27px;
}

.pict-ems {
    background-image: url("assets/images/EMS.svg");
    width: 106px;
    height: 30px;
}

.pict-vk {
    background-image: url("assets/images/vk-social-logotype.svg");
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.pict-instagramm {
    background-image: url("assets/images/instagram-social-logotype.svg");
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.pict-facebook {
    background-image: url("assets/images/facebook-social-logotype.svg");
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.pict-youtube {
    background-image: url("assets/images/youtube-social-logotype.svg");
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.pict-twitter {
    background-image: url("assets/images/twitter-social-logotype.svg");
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.pict-odnoklassniki {
    background-image: url("assets/images/odnoklassniki-social-logotype.svg");
    width: 40px;
    height: 40px;
    cursor: pointer;
}
