.title-1 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-size: 47px;
  line-height: 51px;
}

.title-2 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 29px;
}

.title-3 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 24px;
  margin-bottom: 12px;
}

.main-text {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.selection__block--pict {
  background: linear-gradient(321.7deg, rgba(245, 132, 27, 0.92) 41.23%, #FFB526 90.73%);
}

.footer {
  background: linear-gradient(294.48deg, #EF780A 71.28%, #FFA722 101.62%);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

body {
  max-width: 1600px;
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Roboto-Regular", sans-serif;
  color: #341B04;
}

button {
  padding: 0;
  margin: 0;
}

button:focus {
  outline: none;
}

.wrap {
  max-width: 1600px;
  width: 100vw;
  padding: 0 12.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.pict-whatsapp {
  background-image: url("assets/images/whatsapp.svg");
  width: 27px;
  height: 27px;
}

.pict-telepphone {
  background-image: url("assets/images/telephone_menu.svg");
  width: 27px;
  height: 27px;
}

.pict-email {
  background-image: url("assets/images/mail.svg");
  width: 29px;
  height: 27px;
}

.pict-skype {
  background-image: url("assets/images/skype.svg");
  width: 27px;
  height: 27px;
}

.pict-visa {
  background-image: url("assets/images/Visa.svg");
  width: 51px;
  height: 33px;
}

.pict-master {
  background-image: url("assets/images/MasterCards.svg");
  width: 56px;
  height: 34px;
}

.pict-mir {
  background-image: url("assets/images/Mir.svg");
  width: 54px;
  height: 54px;
}

.pict-yandexmoney {
  background-image: url("assets/images/yandex-money.svg");
  width: 45px;
  height: 45px;
}

.pict-cdek {
  background-image: url("assets/images/CDEK.svg");
  width: 99px;
  height: 27px;
}

.pict-ems {
  background-image: url("assets/images/EMS.svg");
  width: 106px;
  height: 30px;
}

.pict-vk {
  background-image: url("assets/images/vk-social-logotype.svg");
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.pict-instagramm {
  background-image: url("assets/images/instagram-social-logotype.svg");
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.pict-facebook {
  background-image: url("assets/images/facebook-social-logotype.svg");
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.pict-youtube {
  background-image: url("assets/images/youtube-social-logotype.svg");
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.pict-twitter {
  background-image: url("assets/images/twitter-social-logotype.svg");
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.pict-odnoklassniki {
  background-image: url("assets/images/odnoklassniki-social-logotype.svg");
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.section {
  max-width: 1600px;
}

.footer {
  height: 625px;
  color: #FFF;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer__inner {
  width: 1200px;
  height: 422px;
  margin-top: 64px;
}

.footer__author {
  position: absolute;
  bottom: 70px;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  padding-bottom: 10px;
}

.contacts__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
}

.contacts__contacts-adress {
  width: 280px;
  height: 104px;
  font-size: 22px;
  line-height: 26px;
}

.contacts .btn__map {
  width: 221px;
  height: 54px;
  border-radius: 63px;
  background: none;
  border: 2px solid #FFF;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.contacts__contacts-pictogram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__pict {
  margin: 6px 11px 6px 0;
}

.contacts__requisites {
  margin-top: 67px;
}

.contacts__pay-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 262px;
  height: 51px;
  margin-bottom: 40px;
  margin-top: 10px;
}

.contacts__delivery-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 230px;
  height: 30px;
  margin-bottom: 73px;
  margin-top: 10px;
}

.contacts__social-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 285px;
  height: 40px;
  margin-top: 10px;
}

.title-1 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-size: 47px;
  line-height: 51px;
}

.title-2 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 29px;
}

.title-3 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 24px;
  margin-bottom: 12px;
}

.main-text {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.selection__block--pict {
  background: linear-gradient(321.7deg, rgba(245, 132, 27, 0.92) 41.23%, #FFB526 90.73%);
}

.footer {
  background: linear-gradient(294.48deg, #EF780A 71.28%, #FFA722 101.62%);
}

.title-1 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-size: 47px;
  line-height: 51px;
}

.title-2 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 29px;
}

.title-3 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 24px;
  margin-bottom: 12px;
}

.main-text {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.selection__block--pict {
  background: linear-gradient(321.7deg, rgba(245, 132, 27, 0.92) 41.23%, #FFB526 90.73%);
}

.footer {
  background: linear-gradient(294.48deg, #EF780A 71.28%, #FFA722 101.62%);
}

.section__selection {
  height: 266px;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.selection__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selection__item {
  max-width: 1200px;
  min-width: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 75vw;
}

.selection__title {
  margin-bottom: 36px;
  width: 1200px;
}

.selection__block {
  width: 197px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.selection__block--pict {
  width: 129px;
  height: 129px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.selection__block--pict-delivery {
  width: 89px;
  height: 89px;
  background-image: url("assets/images/fast-delivery.svg");
}

.selection__block--pict-printer {
  width: 71px;
  height: 71px;
  background-image: url("assets/images/printer.svg");
}

.selection__block--pict-wallet {
  width: 63px;
  height: 63px;
  background-image: url("assets/images/wallet.svg");
}

.selection__block--pict-gift {
  width: 65px;
  height: 65px;
  background-image: url("assets/images/gift.svg");
}

.selection__block--text {
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  margin-top: 11px;
}

.section__reviews {
  height: 600px;
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.btn--reviews {
  width: 287px;
  height: 54px;
  color: #F5841B;
  background: none;
  border: 1px solid #F5841B;
  font-weight: bold;
  font-size: 21px;
  line-height: 24.61px;
}

.reviews__item {
  height: 442px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 585px;
  height: 351px;
  margin: 36px 0;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
}

.reviews__card--avatar {
  width: 103px;
  height: 103px;
  background: #C4C4C4;
  border-radius: 50%;
  margin-top: 35px;
}

.reviews__card--item {
  margin-top: 35px;
}

.reviews__card-name {
  font-weight: bold;
  font-size: 23px;
  line-height: 24.42px;
  color: #F5841B;
  padding-bottom: 12px;
}

.reviews__card--text {
  width: 380px;
  height: 260px;
  line-height: 20px;
}

.section__questions {
  margin-top: 55px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__questions .questions__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section__questions .questions__item {
  margin-top: 42px;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__questions .questions__title {
  width: 1200px;
}

.section__questions input[type="radio"] {
  display: none;
}

.section__questions .input-radio-open:not(:checked) ~ .element__header .header__title--open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__questions .input-radio-open:not(:checked) ~ .element__header .header__title--close {
  display: none;
}

.section__questions .input-radio-open:not(:checked) ~ .element__content {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.section__questions .input-radio-open:checked ~ .element__header .header__title--open {
  display: none;
}

.section__questions .input-radio-open:checked ~ .element__header .header__title--close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__questions .input-radio-open:checked ~ .element__content {
  height: auto;
  opacity: 1;
  overflow: auto;
}

.section__questions .accordeon {
  margin: 0 auto;
  margin-bottom: 80px;
}

.section__questions .accordeon__element {
  margin-top: 14px;
}

.section__questions .header__title {
  width: 990px;
  padding: 10px 0;
  color: #000;
  cursor: pointer;
  font-weight: 500;
  font-size: 23px;
  line-height: 24px;
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__questions .header__title--close {
  width: 985px;
}

.section__questions .header__title .mark {
  color: #F5841B;
  font-size: 36px;
  text-align: center;
}

.section__questions .element__content {
  padding: 0px;
  -webkit-transition: height .25s ease, opacity .25s ease, padding 0s ease;
  transition: height .25s ease, opacity .25s ease, padding 0s ease;
}

.section__questions .content__wrapper {
  color: #777;
  font-size: 20px;
  margin-top: 10px;
  padding: 10px;
  border-left: 1px solid #F5841B;
}

.section__questions .content__wrapper p {
  width: 850px;
}

@font-face {
  font-family: "Roboto-Regular", sans-serif;
  src: url(assets/fonts/Roboto-Regular.ttf) format("truetype"), url(assets/fonts/Roboto-Regular.woff2) format("woff2"), url(assets/fonts/Roboto-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Bold", sans-serif;
  src: url(assets/fonts/Roboto-Bold.ttf) format("truetype"), url(assets/fonts/Roboto-Bold.woff2) format("woff2"), url(assets/fonts/Roboto-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/*# sourceMappingURL=index.css.map */