.title-1 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-size: 47px;
  line-height: 51px;
}

.title-2 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 29px;
}

.title-3 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 24px;
}

.main-text {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.btn, .selection__block--pict {
  background: linear-gradient(321.7deg, rgba(245, 132, 27, 0.92) 41.23%, #FFB526 90.73%);
}

.footer {
  background: linear-gradient(294.48deg, #EF780A 71.28%, #FFA722 101.62%);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

body {
  max-width: 1600px;
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Roboto-Regular", sans-serif;
  color: #341B04;
}

button {
  padding: 0;
  margin: 0;
}

button:focus {
  outline: none;
}

.wrap {
  max-width: 1600px;
  width: 100vw;
  padding: 0 12.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.section {
  max-width: 1600px;
}

.btn {
  width: 290px;
  height: 60px;
  border-radius: 63px;
  border: none;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #FFF;
  cursor: pointer;
}

.section__start {
  height: 828px;
  background-image: url("assets/images/start_bg.jpg");
  background-position-x: center;
}

.btn--start {
  width: 346px;
  height: 74px;
  font-size: 24px;
  line-height: 28px;
}

.start__title {
  color: #FFF;
  width: 594px;
  margin-bottom: 3px;
  font-size: 45px;
  letter-spacing: -0.02em;
}

.start__text {
  color: #FFF;
  width: 537px;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 27px;
  margin-top: 12px;
}

.header {
  display: -ms-grid;
  display: grid;
  position: absolute;
  color: #FFF;
  right: auto;
  left: auto;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 49px;
  width: 75vw;
  max-width: 1200px;
  min-width: 850px;
}

.header__logo {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
}

.header .menu {
  width: 563px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 16px;
  margin-top: 5px;
}

.header .menu__list {
  width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .menu__list a:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #F5841B;
}

.header .menu__login {
  width: 75px;
  text-align: center;
}

.header .menu__login-btn {
  width: 75px;
  height: 30px;
  border-radius: 43px;
  border: 3px solid #F5841B;
  font-weight: 700;
  color: #F5841B;
  background: none;
  margin-top: -6px;
  cursor: pointer;
}

.header .menu__login .menu__registration {
  font-size: 10px;
}

.header .menu__login .menu__registration:hover {
  border-bottom: 1px solid #F5841B;
}

.header .menu .dropdown {
  position: absolute;
  top: 10px;
  display: none;
  font-size: 14px;
  line-height: 20px;
  width: 133px;
}

.header .menu .menu__dropdown-arr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 147px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .menu .arr {
  background-image: url("assets/images/Arr1.svg");
  width: 12px;
  height: 7px;
  margin-left: 4px;
  margin-top: 6px;
}

.header .menu .menu__dropdown:hover > ul {
  display: block;
  position: relative;
  background: none;
  width: 115px;
}

.header .menu .menu__dropdown:hover > ul :hover {
  color: #F5841B;
}

.header__phone {
  position: absolute;
  top: 108px;
  right: 13%;
}

.header__phone ::before {
  position: absolute;
  content: "";
  background-image: url("assets/images/telephone_menu.svg");
  width: 27px;
  height: 27px;
  margin-left: -35px;
  margin-top: -7px;
}

.header__phone-text {
  font-size: 18px;
  line-height: 19px;
}

.footer {
  height: 625px;
  color: #FFF;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer__inner {
  width: 1200px;
  height: 422px;
  margin-top: 64px;
}

.footer__author {
  position: absolute;
  bottom: 70px;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  padding-bottom: 10px;
}

.contacts__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
}

.contacts__contacts-adress {
  width: 280px;
  height: 104px;
  font-size: 22px;
  line-height: 26px;
}

.contacts .btn__map {
  width: 221px;
  height: 54px;
  border-radius: 63px;
  background: none;
  border: 2px solid #FFF;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.contacts__contacts-pictogram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__pict {
  margin: 6px 11px 6px 0;
}

.contacts__requisites {
  margin-top: 67px;
}

.contacts__pay-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 262px;
  height: 51px;
  margin-bottom: 40px;
  margin-top: 10px;
}

.contacts__delivery-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 230px;
  height: 30px;
  margin-bottom: 73px;
  margin-top: 10px;
}

.contacts__social-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 285px;
  height: 40px;
  margin-top: 10px;
}

.pict-whatsapp {
  background-image: url("assets/images/whatsapp.svg");
  width: 27px;
  height: 27px;
}

.pict-telepphone {
  background-image: url("assets/images/telephone_menu.svg");
  width: 27px;
  height: 27px;
}

.pict-email {
  background-image: url("assets/images/mail.svg");
  width: 29px;
  height: 27px;
}

.pict-skype {
  background-image: url("assets/images/skype.svg");
  width: 27px;
  height: 27px;
}

.pict-visa {
  background-image: url("assets/images/Visa.svg");
  width: 51px;
  height: 33px;
}

.pict-master {
  background-image: url("assets/images/MasterCards.svg");
  width: 56px;
  height: 34px;
}

.pict-mir {
  background-image: url("assets/images/Mir.svg");
  width: 54px;
  height: 54px;
}

.pict-yandexmoney {
  background-image: url("assets/images/yandex-money.svg");
  width: 45px;
  height: 45px;
}

.pict-cdek {
  background-image: url("assets/images/CDEK.svg");
  width: 99px;
  height: 27px;
}

.pict-ems {
  background-image: url("assets/images/EMS.svg");
  width: 106px;
  height: 30px;
}

.pict-vk {
  background-image: url("assets/images/vk-social-logotype.svg");
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.pict-instagramm {
  background-image: url("assets/images/instagram-social-logotype.svg");
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.pict-facebook {
  background-image: url("assets/images/facebook-social-logotype.svg");
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.pict-youtube {
  background-image: url("assets/images/youtube-social-logotype.svg");
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.pict-twitter {
  background-image: url("assets/images/twitter-social-logotype.svg");
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.pict-odnoklassniki {
  background-image: url("assets/images/odnoklassniki-social-logotype.svg");
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.title-1 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-size: 47px;
  line-height: 51px;
}

.title-2 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 29px;
}

.title-3 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 24px;
}

.main-text {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.btn, .selection__block--pict {
  background: linear-gradient(321.7deg, rgba(245, 132, 27, 0.92) 41.23%, #FFB526 90.73%);
}

.footer {
  background: linear-gradient(294.48deg, #EF780A 71.28%, #FFA722 101.62%);
}

.title-1 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-size: 47px;
  line-height: 51px;
}

.title-2 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 29px;
}

.title-3 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 24px;
}

.main-text {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.btn, .selection__block--pict {
  background: linear-gradient(321.7deg, rgba(245, 132, 27, 0.92) 41.23%, #FFB526 90.73%);
}

.footer {
  background: linear-gradient(294.48deg, #EF780A 71.28%, #FFA722 101.62%);
}

.section__offer {
  height: 800px;
  margin-top: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.offer__title {
  margin-bottom: 40px;
}

.offer__subtitle {
  margin-bottom: 20px;
}

.offer__text {
  margin-bottom: 28px;
  width: 645px;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.offer__item {
  width: 1200px;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 69px;
}

.offer__item-left--img {
  width: 483px;
  height: 319px;
  border-radius: 10px;
  background-image: url("assets/images/offer_left_1.jpg");
  margin-right: 30px;
}

.offer__item-right--img {
  width: 482px;
  height: 320px;
  border-radius: 10px;
  background-image: url("assets/images/offer_right_1.jpg");
  margin-left: 30px;
  margin-top: 20px;
}

.offer__item--text-block {
  width: 687px;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__stages {
  height: 615px;
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.stages__item {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stages__column {
  width: 316px;
  height: 546px;
  width: 316px;
  height: 546px;
}

.stages__column--point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.stages__column--number {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background: #F5841B;
  color: #FFF;
  font-weight: normal;
  font-size: 19px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 31px;
}

.stages__column--article {
  margin-bottom: 44px;
}

.stages__column--text {
  width: 253px;
  margin-top: 12px;
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;
}

.stages__item--img {
  width: 790px;
  height: 452px;
  border-radius: 10px;
  background-image: url("assets/images/stages.jpg");
}

.section__selection {
  height: 266px;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.selection__item {
  max-width: 1200px;
  min-width: 820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 75vw;
}

.selection__title {
  margin-bottom: 36px;
}

.selection__block {
  width: 197px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.selection__block--pict {
  width: 129px;
  height: 129px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.selection__block--pict-delivery {
  width: 89px;
  height: 89px;
  background-image: url("assets/images/fast-delivery.svg");
}

.selection__block--pict-printer {
  width: 71px;
  height: 71px;
  background-image: url("assets/images/printer.svg");
}

.selection__block--pict-wallet {
  width: 63px;
  height: 63px;
  background-image: url("assets/images/wallet.svg");
}

.selection__block--pict-gift {
  width: 65px;
  height: 65px;
  background-image: url("assets/images/gift.svg");
}

.selection__block--text {
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  margin-top: 11px;
}

.section__reviews {
  height: 600px;
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.btn--reviews {
  width: 287px;
  height: 54px;
  color: #F5841B;
  background: none;
  border: 1px solid #F5841B;
  font-weight: bold;
  font-size: 21px;
  line-height: 24.61px;
}

.reviews__item {
  height: 442px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 585px;
  height: 351px;
  margin: 36px 0;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
}

.reviews__card--avatar {
  width: 103px;
  height: 103px;
  background: #C4C4C4;
  border-radius: 50%;
  margin-top: 35px;
}

.reviews__card--item {
  margin-top: 35px;
}

.reviews__card-name {
  font-weight: bold;
  font-size: 23px;
  line-height: 24.42px;
  color: #F5841B;
  padding-bottom: 12px;
}

.reviews__card--text {
  width: 380px;
  height: 260px;
  line-height: 20px;
}

@font-face {
  font-family: "Roboto-Regular", sans-serif;
  src: url(assets/fonts/Roboto-Regular.ttf) format("truetype"), url(assets/fonts/Roboto-Regular.woff2) format("woff2"), url(assets/fonts/Roboto-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Bold", sans-serif;
  src: url(assets/fonts/Roboto-Bold.ttf) format("truetype"), url(assets/fonts/Roboto-Bold.woff2) format("woff2"), url(assets/fonts/Roboto-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/*# sourceMappingURL=index.css.map */